body {
  margin: 0;
  padding: 0;
  background-color: #030303;
  display: flex;
  justify-content: left;
  align-items: normal;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
}

#myCanvas{
  width: 100%;
  height: 100%;
  margin: 0
}

.typing-container {
  text-align: start;
  position: static;
}

#typing-text {
  color: white;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 400px;
  white-space: normal;
  overflow: hidden;
  padding-right: 5px;
}

#typing-cursor {
  position: absolute;
  display: inline-block;
  top: 100;
  left: 100;
  width: 10px;
  height: 26px;
  background-color: white;
  animation: blink 1.0s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

a {
  color: #00ce00;
}

a:hover
{
  color: #00ce00;
}
  