body {
  margin: 0;
  padding: 0;
  background-color: #030303;
  display: flex;
  justify-content: left;
  align-items: normal;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
}

#myCanvas{
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.5;
}

.clickable-underline{
  color: white;
}

#typewriter{
  position: absolute;
  white-space: pre-wrap;
  font-size: 24px;
  color: white;
  margin-left: 12%;
  margin-top: 8%;
  margin-right: 50%;
  font-family: 'Source Code Pro', monospace;

  &:after{
    content: "\25AE";
    width: 10px;
    animation: blink 500ms linear infinite alternate;
  }
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}